:root{
    background-color: lightgray;
    --primary:black;
    --secondary: purple;
    --tertiary: #3f0641;
    }

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    align-items: center;
}    

ul{
    color: black;
}

h2{
    color: var(--primary);
}
    
p{
    color: var(--primary);
    text-shadow: .5px .5px var(--tertiary);
}
    
.container{
    position: absolute;
    left: 38%;
    top: 30%;
    width: 400px;
    height: 400px;
    border: 5px solid var(--tertiary);
}

#Time {
    float: right;
}

#questions {
    margin: 20px;
}

#startQuiz {
    background-color: var(--secondary);
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

button {
    display: inline-block;
    background-color: var(--secondary);
    border-radius: 15px;
    border: 5px double var(--tertiary);
    color: white;
    font-size: 20px;
    padding: 20px;
    width: 300px;
    margin-top: 10px;
}
    
button:hover{
    background-color: var(--tertiary);
}

#startOver {
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

